<html>
    <head>
        <title>Product App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/style/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>Product Site</div>
            <a href="/" class="item">Home</a>
            <a href="/products/new" class="item">New Product</a>
            </div>
        </div>